<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div>
    <p>New Message</p>
    <form method="post" action="/new">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="userName" id="username">
      </div>

      <div>
        <label for="msg">Message:</label>
        <input type="text" name="userMsg" id="msg">
      </div>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>