<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/favicomm.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
</head>
<body>
    <div class="msgDetail">
        <p>Details</p>
        <h1>User: <%= message.username %></h1>
        <h2>Message: <%= message.text %></h2>
        <h3>Added: <%= message.added %></h3>
        <a href="/" class="btn">Back to Messages</a>
    </div>
</body>
</html>